

:root{
    --primary-colour: #daebff;
    --nav-colour:#fff;
    --text-dark: #333;
    --pink-accent: #ff8bf1;
    --rainbow: linear-gradient(to left, #ff8888, #ffcfa0, #ffff90, #8cfe8c, #85fafa, #8787f7, #ba85ef, #f686f6);
    --dark-pink: #dc38a2;
    --bubble-blue: #288dc7;
    --toy-text-colour: rgb(2, 9, 114);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family : 'Arial', sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    background-color: var(--primary-colour);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

img {
    width: 100%;
}


/* nav */ 
.navbar {
    background-color: var(--nav-colour);
    color: var(--text-dark);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.menu-item{
    color: var(--text-dark);
    padding: 10px;
    margin: 0 5px;
}

.logo{
    color:var(--text-dark);
    text-decoration: underline;
    text-decoration-color: var(--pink-accent);
    left: 0px;
};

.logonav {
    max-height: 60px;
    max-width: 60px;
    height: auto;
    display: flex;
}

.logo2{
    height:60px;
    width:60px;
    display: flex;
}

h1,h2 {
    font-weight: 300;
    line-height:1.2;
    margin: 10px 0;
}


/* background */

.rainbow-background {
    width: 100vw;
    position: relative;
    z-index: -1;
}



/* Info */
.info {
    padding: 10px;
    position: relative;
    z-index: -1;
}

.info h1 {
    font-size: 40px;
}

.info p {
    margin: 20px 0;
    position: relative;
    z-index: -1;
    font-size: 18px;
}



/* stim */

#rainbow-page {
    z-index: -1;
    height:100vh;
}

#bubblesalt {
    display: none;
    justify-content: center;
}

.stim-title {
    text-align: center;
    padding: 30%;
    font-size: 80px;
    font-weight: 300;
    font-family: Kantemuruy Pro, serif;
    display: none;
    z-index: 1;
}

.laptop-only {
    display: flex;
}

.bordered {
    border: 1px solid var(--text-dark);
    border-radius: 40px;
    border-width: 3px;
    border-style: dotted;
    border-color: var(--bubble-blue);
}

strong {
    color: var(--bubble-blue);
}

.toy-card {
    width: 300px;
    height: 600px;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 3px 3px #FF7B7B, 10px 10px 3px 3px #FFC478, 15px 15px 3px 3px #FFFA78, 20px 20px 3px 3px #BAFF73, 20px 20px 3px 3px #BAFF73; 
box-shadow: 5px 5px 3px 3px #FF7B7B, 10px 10px 3px 3px #FFC478, 15px 15px 3px 3px #FFFA78, 20px 20px 3px 3px #BAFF73, 20px 20px 3px 3px #BAFF73;
}

.toy-container {
    display: flex;
    justify-content: space-between;
    padding:3%;
}

.subtext {
    font-size: 17px;
    font-weight: 500;
    color: var(--toy-text-colour);
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    text-align: center;

}

h3 a {
    color: var(--dark-pink);
}

.toy-image {
    padding: 10px;
    height: 300px;
}

/* support */

.page-title {
    text-align: center;
    padding: 14%;
    font-size: 130px;
    font-weight: 300;
    font-family: Kantemuruy Pro, serif;
    z-index:1;
}
