

:root{
    --primary-colour: #daebff;
    --nav-colour:#fff;
    --text-dark: #333;
    --pink-accent: #ff8bf1;
    --rainbow: linear-gradient(to left, #ff8888, #ffcfa0, #ffff90, #8cfe8c, #85fafa, #8787f7, #ba85ef, #f686f6);
    --dark-pink: #dc38a2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family : 'Arial', sans-serif;
    color: var(--text-dark);
    line-height: 1.6;
    background-color: var(--primary-colour);
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

img {
    width: 100%;
}


/* nav */ 
.navbar {
    background-color: var(--nav-colour);
    color: var(--text-dark);
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.menu-item{
    color: var(--text-dark);
    padding: 10px;
    margin: 0 5px;
}

.logo{
    color:var(--text-dark);
    text-decoration: underline;
    text-decoration-color: var(--pink-accent);
    left: 0px;
};

.logonav {
    height:60px;
    width:60px;
    margin: 5px 0;
    display: flex;
}






/* Logo */

.rainbow-background {
    width: 100vw;
    position: relative;
    z-index: -1;
}





 /* Tablets and under */
  @media (max-width: 768px) {
    .grid,
    .info .grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .info {
      height: auto;
    }
  
    .info-text {
      text-align: center;
      margin-top: 40px;
    }

  /* Mobile */
  @media (max-width: 500px) {
    .navbar {
      height: 110px;
    }
  
    .navbar .flex {
      flex-direction: column;
    }
  
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    #logo {
      aspect-ratio: 16/9;
    }
    
  };
  }

/* Hamburger */
  #menu-toggle {
    opacity: 0;
  }
  #menu-toggle:checked + .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked + .menu-btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu-toggle:checked + .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-box {
    right: 0 !important;
  }
  .menu-btn {
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;;
  }
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #333;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
  .menu-box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-image: var(--rainbow);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: var(--nav-colour);
    border: solid var(--dark-pink);
    border-radius: 200px;
    color: var(--dark-pink);
  }
  

